doctype html
html
    head
        meta(charset="UTF-8")
        title antd-admin
        link(rel="stylesheet" href="/css/admin.css", )
        
    body
        #root
        script.
            var session = !{JSON.stringify(session)};
        script(src="/js/admin.js")
        
        
        