doctype html
html
    head
        meta(charset="UTF-8")
        title antd-admin
    body
        #root
        script.
            var session = !{JSON.stringify(session)};
        script(src="/dist/admin.js")
        
        
        