footer
	#block #{config.themeOptions.ICP}  ·  #{config.themeOptions.copyright}<span class="heart"> ❤ </span>#{config.themeOptions.nickname}
	#copyright Powered by #[a(href="https://nodejs.org/en/" target="_blank") NodeJS] · Theme #[a(href="https://github.com/huzikai0424/Blog" target="_blank") Absorbed]