footer
	#block #{config.themeOptions.ICP}  ·  后端用时:  #{loadTime} ms
	#copyright #{config.themeOptions.copyright} · Powered by #[a(href="https://nodejs.org/en/") NodeJS] · Theme #[a(href="https://github.com/huzikai0424/Blog") Absorbed]