header
    nav
        .site-logo  #{config.themeOptions.nickname}
        .site-nav
            ul#menu
                li #[a(href="/") 首页]
                li 分类
                li 归档
                li 说说
                li 留言板
                li #[a(href="/page/link") 友链]
                li #[a(href="/page/about") 关于] 
            .site-search
                input#search(type="text" placeholder="Search...")