header
    nav
        .site-logo  #{options.themeOptions.nickname}
        .site-nav
            ul#menu
                li #[a(href="/") 首页]
                li 碎碎念
                li 技术
                li 说说
                li 关于
            .site-search
                input#search(type="text" placeholder="Search...")