#page-nav 
    ul
        - var n = 0;
        while n++ < pagination.totalPage
            if pagination.page == n
                li.active #[a(href='javascript:;') #{n}]
            else
                li #[a.active(href=`/index/${n}`) #{n}]
            
        