doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1")
        link(rel="stylesheet/less" type="text/css" href="css/style.less")
        link(href="css/github-markdown.css" rel="stylesheet")
        script(src="js/less.min.js")
        
    body
        header
            nav
                .site-logo  痴情的小五
                .site-nav
                    ul#menu
                        li 首页
                        li 分类
                        li 说说
                        li 关于
                    .site-search
                        input#search(type="text" placeholder="Search...")
        main
            .wrap
                .leftBox
                    article
                        .article-box
                            .markdown-body !{markdown}
                    article
                        .article-box
                            .copyright
                                p #[strong 版权声明: ]#[span 本站文章除特别声明外，均为本站原创或翻译。转载请注明出处，尊重他人劳动成果。]
                                p #[strong 转载请注明出处链接: ]#[span pomelo-单栏式简约清新wordpress主题] 
                    article
                        .article-box
                            .next_article
                                a.prev(href="#") <<我是上一篇
                                a.next(href="#") 我是下一篇>>
                    article
                        .article-box
                            #comment
                                
                .rightBox
                    aside.aboutMe
                        .photo-background
                        .avatar
                            img(src="images/avatar.jpg" alt="头像")
                        .notes 最强咸鱼...
                        .statistics
                            ul
                                li
                                    .count 12
                                    .type 文章
                                li
                                    .count 12
                                    .type 文章
                                li
                                    .count 12
                                    .type 文章
                        .contact
                            ul
                                li #[img(src="images/QQ.png")]  QQ
                                li #[img(src="images/weixin.png")] 微信
                                li #[img(src="images/weibo.png")] 微博
                                li #[img(src="images/github3.png")] github
                    aside.tags
                        .title 标签云
                        .box
                            ul 
                                li css
                                li html
                                li javascript
                                li php
                                li IE兼容
                                li mysql
                                li WordPress
                                li 代码
                                li 碎碎念
                                li css
                                li html
                                li javascript
                                li php
                                li IE兼容
                                li mysql
                                li WordPress
                                li 代码
                                li 碎碎念
        footer
            #block 浙ICP备16046701号 · Copyright © 2018 痴情的小五
            #copyright Copyright © 2018 痴情的小五 · Powered by WordPress · Theme Pomelo
        script(src="index.js")