footer
	#block #{options.themeOptions.ICP}  ·  总用时:  #{loadTime}
	#copyright #{options.themeOptions.copyright} · Powered by #[a(href="https://nodejs.org/en/") NodeJS] · Theme #[a(href="https://github.com/huzikai0424/Blog") Absorbed]