doctype html
html
    head
        include components/meta.pug
    body
        include components/header.pug
        main
            .wrap
                .leftBox
                    include components/articleBox.pug
                    //- include components/page-nav.pug
                include components/sidebar.pug
        
        include components/footer.pug
        script(src="/js/test.js")
        