doctype html
html
    head
        include meta.pug
    body
        include header.pug
        main
            .wrap
                .leftBox
                    include articleBox.pug
                    include page-nav.pug
                include sidebar.pug
        
        include footer.pug
        //- script(src="/dist/index.js")
        