
html, body, #root {
  height: 100%;
}
.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}
.statisticBox{
  background: #fff;
  text-align: center;
  padding:5px 15px !important;
}

